<a href="https://colab.research.google.com/github/ReynaldiGM/DS_Journey/blob/main/LongAssignment_Reynaldi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Author : Reynaldi Gevin

Netflix Movies and TV Shows on Netflix Dataset

# Connect to Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [20]:
%cd /content/gdrive/MyDrive/Data Science/First Project

/content/gdrive/MyDrive/Data Science/First Project

# Import Packages

In [190]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import re
import datetime as dt
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot

# Import Data

In [159]:
df = pd.read_csv('netflix_titles.csv')

# Initial EDA

In [160]:
df.head()

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [161]:
df.tail()

     show_id  ...                                        description
8802   s8803  ...  A political cartoonist, a crime reporter and a...
8803   s8804  ...  While living alone in a spooky town, a young g...
8804   s8805  ...  Looking to survive in a world taken over by zo...
8805   s8806  ...  Dragged from civilian life, a former superhero...
8806   s8807  ...  A scrappy but poor boy worms his way into a ty...

[5 rows x 12 columns]

In [162]:
df.sample(5)

     show_id  ...                                        description
2690   s2691  ...  In a city where super-powered people are ostra...
5935   s5936  ...  This Emmy-winning, street-level view of the 20...
5616   s5617  ...  A young couple falls in love, but conflicting ...
5967   s5968  ...  Mixing old footage with interviews, this is th...
1639   s1640  ...  A crash course on the turbulence of being a te...

[5 rows x 12 columns]

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

# Data Cleaning

## Handling Missing Value

In [164]:
for i in df.columns:
    null_rate = df[i].isna().sum() / len(df) * 100 
    if null_rate > 0 :
        print("{} null rate: {}%".format(i,round(null_rate,2)))

director null rate: 29.91%
cast null rate: 9.37%
country null rate: 9.44%
date_added null rate: 0.11%
rating null rate: 0.05%
duration null rate: 0.03%

In [165]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [166]:
for column in df.columns:
    print(f"============= {column} =================")
    display(df[column].value_counts())
    print()

============= show_id =================

s4452    1
s2069    1
s6360    1
s4206    1
s6511    1
        ..
s2499    1
s734     1
s3532    1
s5336    1
s760     1
Name: show_id, Length: 8807, dtype: int64

============= type =================

Movie      6131
TV Show    2676
Name: type, dtype: int64

============= title =================

Best Worst Thing That Ever Could Have Happened                       1
High on the Hog: How African American Cuisine Transformed America    1
Dance Dreams: Hot Chocolate Nutcracker                               1
The Chair                                                            1
Justice                                                              1
                                                                    ..
Frankenstein’s Monster’s Monster, Frankenstein                       1
The Queen                                                            1
Roll Red Roll                                                        1
The Staircase                                                        1
Karzzzz                                                              1
Name: title, Length: 8807, dtype: int64

============= director =================

Rajiv Chilaka             19
Raúl Campos, Jan Suter    18
Suhas Kadav               16
Marcus Raboy              16
Jay Karas                 14
                          ..
Wong Jing, Jason Kwan      1
Levan Tsikurishvili        1
Mario Briongos             1
Alejandro Lozano           1
John Madden                1
Name: director, Length: 4528, dtype: int64

============= cast =================

David Attenborough                                                                                                                                                                19
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil                                                                                           14
Samuel West                                                                                                                                                                       10
Jeff Dunham                                                                                                                                                                        7
David Spade, London Hughes, Fortune Feimster                                                                                                                                       6
                                                                                                                                                                                  ..
Eli Shi, Alice Ko, Jen-Shuo Cheng, Chiung-Hsuan Hsieh, Herb Hsu, Bryant Lee, Hsiu-Ling Lin, Ma Ju-lung, Ching-kuan Wang                                                            1
Anjan Dutt, Swastika Mukherjee, Ritwick Chakraborty, Parno Mittra, Bikram Chatterjee, Sohag Sen, Sumanta Mukherjee, Arun Mukhopadhyay                                              1
Salman Khan, Sonam Kapoor, Anupam Kher, Neil Nitin Mukesh, Sanjay Mishra, Swara Bhaskar, Deepak Dobriyal, Arman Kohli, Manoj Joshi, Samaira Rao, Karuna Pandey, Sucheta Khanna     1
Ryan Phillippe, Omar Epps, David Marciano, Cynthia Addai-Robinson, Shantel VanSanten, Tom Sizemore                                                                                 1
Nicolas Cage, Chad Michael Murray, Cassi Thomson, Nicky Whelan, Jordin Sparks, Lea Thompson, Gary Grubbs, Quinton Aaron                                                            1
Name: cast, Length: 7692, dtype: int64

============= country =================

United States                                            2818
India                                                     972
United Kingdom                                            419
Japan                                                     245
South Korea                                               199
                                                         ...
United States, United Kingdom, Canada, Japan                1
Singapore, Japan, France                                    1
Colombia, Mexico                                            1
United States, United Kingdom, France, Germany, Japan       1
Czech Republic, United Kingdom, France                      1
Name: country, Length: 748, dtype: int64

============= date_added =================

January 1, 2020      109
November 1, 2019      89
March 1, 2018         75
December 31, 2019     74
October 1, 2018       71
                    ...
November 18, 2017      1
 October 31, 2018      1
 January 12, 2019      1
August 20, 2017        1
May 7, 2017            1
Name: date_added, Length: 1767, dtype: int64

============= release_year =================

2018    1147
2017    1032
2019    1030
2020     953
2016     902
        ...
1959       1
1961       1
1925       1
1947       1
1966       1
Name: release_year, Length: 74, dtype: int64

============= rating =================

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
UR             3
NC-17          3
74 min         1
66 min         1
84 min         1
Name: rating, dtype: int64

============= duration =================

1 Season     1793
2 Seasons     425
3 Seasons     199
90 min        152
97 min        146
             ...
191 min         1
186 min         1
189 min         1
196 min         1
193 min         1
Name: duration, Length: 220, dtype: int64

============= listed_in =================

Dramas, International Movies                                 362
Documentaries                                                359
Stand-Up Comedy                                              334
Comedies, Dramas, International Movies                       274
Dramas, Independent Movies, International Movies             252
                                                            ...
Docuseries, Kids' TV, Science & Nature TV                      1
Kids' TV, Reality TV, TV Dramas                                1
Classic & Cult TV, TV Sci-Fi & Fantasy                         1
Action & Adventure, Documentaries, Sports Movies               1
International TV Shows, Reality TV, TV Action & Adventure      1
Name: listed_in, Length: 514, dtype: int64

============= description =================

Paranormal activity at a lush, abandoned property alarms a group eager to redevelop the site, but the eerie events may not be as unearthly as they think.    4
Multiple women report their husbands as missing but when it appears they are looking for the same man, a police officer traces their cryptic connection.     3
Challenged to compose 100 songs before he can marry the girl he loves, a tortured but passionate singer-songwriter embarks on a poignant musical journey.    3
A surly septuagenarian gets another chance at her 20s after having her photo snapped at a studio that magically takes 50 years off her life.                 3
An aspiring musician battles age-old caste divides to be able to learn the art of a classical instrument from a traditionalist, veteran percussionist.       2
                                                                                                                                                            ..
Forging his own comedic boundaries, Anthony Jeselnik revels in getting away with saying things others can't in this stand-up special shot in New York.       1
This reality ride-along offers a glimpse into the can-do, high-stakes world of big rig drivers who haul massive loads of cargo across Australia.             1
When Jennifer wakes up with amnesia after a traumatic attack, her doting husband cares for her. But she soon realizes the danger is far from over.           1
A devoted teacher takes interest in a young student's creative potential after hearing his poetry. But she soon crosses the line into obsession.             1
Newly released from prison, a man returning to his girlfriend and their child subsequently learns about a dangerous debt taken by his late mother.           1
Name: description, Length: 8775, dtype: int64

Di kolom rating ada cell dengan format data yang salah, letaknya harusnya berada di kolom duration

In [167]:
df.loc[df['duration'].isnull()]

     show_id  ...                                        description
5541   s5542  ...  Louis C.K. muses on religion, eternal love, gi...
5794   s5795  ...  Emmy-winning comedy writer Louis C.K. brings h...
5813   s5814  ...  The comic puts his trademark hilarious/thought...

[3 rows x 12 columns]

3 data tersebut dikembalikan ke kolom duration

In [168]:
df.loc[5541,'duration'] = '74 min'
df.loc[5794,'duration'] = '84 min'
df.loc[5813,'duration'] = '66 min'

Pada kolom rating diisi nilai yang masih kosong dengan cara mencari ratingnya di google, begitu juga untuk 3 kolom yang sebelumnya

In [169]:
df.loc[df['rating'].isnull()]

     show_id  ...                                        description
5989   s5990  ...  Oprah Winfrey sits down with director Ava DuVe...
6827   s6828  ...  After falling through a wormhole, a space-dwel...
7312   s7313  ...  Adopting a child's perspective, this show take...
7537   s7538  ...  Amid the chaos and horror of World War II, a c...

[4 rows x 12 columns]

In [170]:
# 3 rows mistaken:

df.loc[5541,'rating'] = 'TV-MA'
df.loc[5794,'rating'] = 'R'
df.loc[5813,'rating'] = 'R'

# 3 rows with missing value:

df.loc[5989,'rating'] = 'PG-13'
df.loc[6827,'rating'] = 'TV-14'
df.loc[7312,'rating'] = 'TV-MA'
df.loc[7537,'rating'] = 'PG-13'

Check again gaes!

In [171]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             0
duration           0
listed_in          0
description        0
dtype: int64

Fix date_added column

In [172]:
df.loc[df['date_added'].isnull()]

     show_id  ...                                        description
6066   s6067  ...  Set during the Russian Revolution, this comic ...
6174   s6175  ...  This CNN original series has chef Anthony Bour...
6795   s6796  ...  Frasier Crane is a snooty but lovable Seattle ...
6806   s6807  ...  This hit sitcom follows the merry misadventure...
6901   s6902  ...  On the surface, the Social Welfare Agency appe...
7196   s7197  ...  A wacky rabbit and his gang of animal pals hav...
7254   s7255  ...  This irreverent sitcom featues Ludovico, Feder...
7406   s7407  ...  Marc Maron stars as Marc Maron, who interviews...
7847   s7848  ...  This parody of first-person shooter games, mil...
8182   s8183  ...  Imagine your worst fears, then multiply them: ...

[10 rows x 12 columns]

In [173]:
df.loc[6066,'rating'] = 'September 15, 2014'
df.loc[6174,'rating'] = 'June 1, 2020'
df.loc[6806,'rating'] = 'September 17, 2020'
df.loc[6901,'rating'] = 'January 4, 2016'
df.loc[7196,'rating'] = 'July 6, 2017'
df.loc[7406,'rating'] = 'June 1, 2015'
df.loc[7847,'rating'] = 'September 15, 2014'
df.loc[8182,'rating'] = 'October 3, 2017'

# Cant find on google
df = df[df['date_added'].notna()]

In [174]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2624
cast             825
country          830
date_added         0
release_year       0
rating             0
duration           0
listed_in          0
description        0
dtype: int64

Finish for date_added

Director and Cast fill with ' No data Available'
 and Country fill with mode

In [175]:
df['director'] = df['director'].fillna('NoDataAvailable')
df['cast'] = df['director'].fillna('NoDataAvailable')
df['country'] = df['country'].fillna(df['country'].mode()[0])

In [176]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

## Check Duplicate Row

In [177]:
len(df.drop_duplicates()) / len(df)

1.0

Since the number is 1.0, we conclude that there are no duplicate rows in this dataset

## Add New Features

Add new features in data set : month, year, target_ages, principal_country

Country fix up

There are some entry where country has multiple values. so i think i will add a new column with just the first one.

In [178]:
df['country'].value_counts()

United States                                            3642
India                                                     972
United Kingdom                                            418
Japan                                                     244
South Korea                                               199
                                                         ...
United States, United Kingdom, Canada, Japan                1
Singapore, Japan, France                                    1
Colombia, Mexico                                            1
United States, United Kingdom, France, Germany, Japan       1
Czech Republic, United Kingdom, France                      1
Name: country, Length: 748, dtype: int64

In [179]:
df['principal_country'] = df['country'].apply(lambda x: x.split(",")[0])
df.head()

  show_id  ... principal_country
0      s1  ...     United States
1      s2  ...      South Africa
2      s3  ...     United States
3      s4  ...     United States
4      s5  ...             India

[5 rows x 13 columns]

We are going to take the year and the month from date_added so we can compare wich are the most valueable months and the difference between Show realse and Netflix adding dates

In [180]:
df['year_added'] = df['date_added'].apply(lambda x: x.split(" ")[-1])
df['month_added'] = df['date_added'].apply(lambda x: x.split(" ")[0])
df.head()

  show_id     type  ... year_added month_added
0      s1    Movie  ...       2021   September
1      s2  TV Show  ...       2021   September
2      s3  TV Show  ...       2021   September
3      s4  TV Show  ...       2021   September
4      s5  TV Show  ...       2021   September

[5 rows x 15 columns]

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8797 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   show_id            8797 non-null   object
 1   type               8797 non-null   object
 2   title              8797 non-null   object
 3   director           8797 non-null   object
 4   cast               8797 non-null   object
 5   country            8797 non-null   object
 6   date_added         8797 non-null   object
 7   release_year       8797 non-null   int64
 8   rating             8797 non-null   object
 9   duration           8797 non-null   object
 10  listed_in          8797 non-null   object
 11  description        8797 non-null   object
 12  principal_country  8797 non-null   object
 13  year_added         8797 non-null   object
 14  month_added        8797 non-null   object
dtypes: int64(1), object(14)
memory usage: 1.1+ MB

Shows targets based on rating
This could be interesting to show wich is target mostly focused by productions

https://movielabs.com/md/ratings/v2.3/html/US_TVPG_Ratings.html for TV Rating

https://atlascinemas.net/ratings.html for Movie Rating

In [182]:
ratings_ages = {
    'TV-PG': 'Kids',
    'TV-MA': 'Adults',
    'TV-Y7-FV': 'Kids',
    'TV-Y7': 'Kids',
    'TV-14': 'Teens',
    'R': 'Adults',
    'TV-Y': 'Kids',
    'NR': 'Adults',
    'PG-13': 'Teens',
    'TV-G': 'Kids',
    'PG': 'Kids',
    'G': 'Kids',
    'UR': 'Adults',
    'NC-17': 'Adults'
}

In [183]:
df['target_ages'] = df['rating'].replace(ratings_ages)
df['target_ages'].unique()

array(['Teens', 'Adults', 'Kids'], dtype=object)

In [184]:
df

     show_id     type                  title  ... year_added month_added target_ages
0         s1    Movie   Dick Johnson Is Dead  ...       2021   September       Teens
1         s2  TV Show          Blood & Water  ...       2021   September      Adults
2         s3  TV Show              Ganglands  ...       2021   September      Adults
3         s4  TV Show  Jailbirds New Orleans  ...       2021   September      Adults
4         s5  TV Show           Kota Factory  ...       2021   September      Adults
...      ...      ...                    ...  ...        ...         ...         ...
8802   s8803    Movie                 Zodiac  ...       2019    November      Adults
8803   s8804  TV Show            Zombie Dumb  ...       2019        July        Kids
8804   s8805    Movie             Zombieland  ...       2019    November      Adults
8805   s8806    Movie                   Zoom  ...       2020     January        Kids
8806   s8807    Movie                 Zubaan  ...       2019       March       Teens

[8797 rows x 16 columns]

In [ ]:
df['genre'] = df['listed_in'].apply(lambda x :  x.replace(' ,',',').replace(', ',',').split(',')) 
df['genre'].head()

# Lets Explore

## 1. Conten Type on Netflix

In [195]:
col = "type"
grouped = df[col].value_counts().reset_index()
grouped = grouped.rename(columns = {col : "count", "index" : col})

## plot
trace = go.Pie(labels=grouped[col], values=grouped['count'], pull=[0.05, 0], marker=dict(colors=["#b20710", "#221f1f"]))
layout = go.Layout(title="", height=400, legend=dict(x=0.1, y=1.1))
fig = go.Figure(data = [trace], layout = layout)
iplot(fig)

Neflix offer two kinds of streaming content, which are movies and Tv shows. Distribution of the content on platform is skewed towards to movies, which occupy nearly 70 percent of the content it offer. Our distribution pie shows the stats of content from the data. So, this feature is important while anlysis other features.

## Netflix Content Release Year

In [ ]:
TV = df[df['type'] == 'TV Show'].release_year.value_counts()
Movie = df[df['type'] == 'Movie'].release_year.value_counts()

# creating a dataframe

Tv_df = pd.DataFrame({'year': TV.index, 'Tv_count': TV.values})
Movie_df = pd.DataFrame({'year': Movie.index, 'Movie_count': Movie.values})

rel_data = pd.merge(Tv_df, Movie_df, how = 'right', on = 'year')
rel_data.fillna('0', inplace = True)
rel_data['Tv_count'] = rel_data.Tv_count.astype('int64')
rel_data = rel_data.sort_values('year', ascending = False).reset_index(drop = True)

In [ ]:
## visulaization

fig, ax = plt.subplots(figsize = (12,6), dpi = 70)
fig.patch.set_facecolor('#f6f5f5')
ax.set_facecolor('#f6f5f5')

labels = [ 'TV shows', 'Movies ']

# stackplot
ax.stackplot(rel_data.year[0:25], rel_data.Tv_count[0:25],rel_data.Movie_count[0:25],labels =labels, 
              colors = ['#221f1f','#b20710',], baseline = 'zero', alpha = 0.9 )

# Region of interest
 
ax.axvspan(2019,2021, color = 'grey',alpha = 0.2)
ax.text(2019, 1147, 'Covid-19', {'font':'serif', 'fontsize': '11', 'color': 'black', 'weight':'bold'},alpha = 0.8)

# legend
ax.text(2017, 700, '{}'.format(labels[1]), {'font':'serif', 'fontSize':'14', 'color':'#f6f5f5', 'weight':'bold'})
ax.text(2016, 175, '{}'.format(labels[0]),{'font':'serif', 'fontSize':'14', 'color':'#f6f5f5','weight':'bold'}) 

#title
 
ax.text(1997.25,1200, 'Visualization of Release Year - Which year is most productive?',
                      {'font':'serif', 'fontSize':'16', 'weight': 'bold','color': 'black'})
ax.text(1997.5,1000, 'In the earlier days of Tv shows were not that popular \nit seems, with time gain popularity and rose to certain \nlevel. Where as movies are in top \nchoice of production. ',
                      {'font':'serif', 'fontSize':'12','color': 'black'})

plt.box(on = None)

ax.axes.get_yaxis().set_visible(False)
fig.show()

## Most content producing countries

In [ ]:
# Set the width and height of the figure
plt.figure(figsize=(15,15))

# Add title
plt.title("Content creating countries")

# Bar chart showing average arrival delay for Spirit Airlines flights by month
sns.barplot(y=list(countries_fin1.keys()), x=list(countries_fin1.values()))

# Add label for vertical axis
plt.ylabel("Arrival delay (in minutes)")